annotated-types==0.6.0
anyio==4.3.0
attrs==21.2.0
blinker==1.7.0
blis==0.7.4
boto3==1.18.11
botocore==1.21.11
catalogue==2.0.5
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.1.7
colorama==0.4.4
cycler==0.10.0
cymem==2.0.5
datasets==1.11.0
dill==0.3.4
Distance==0.1.3
distro==1.9.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.1.0/en_core_web_md-3.1.0-py3-none-any.whl
exceptiongroup==1.2.0
filelock==3.0.12
flask==3.0.2
fsspec==2021.7.0
google-pasta==0.2.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.0.12
idna==3.2
importlib-metadata==4.6.3
itsdangerous==2.1.2
Jinja2==3.1.3
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
kiwisolver==1.3.1
llvmlite==0.39.1
MarkupSafe==2.1.5
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
multiprocess==0.70.12.2
murmurhash==1.0.5
numba==0.56.3
numpy==1.21.1
nvidia-ml-py3==7.352.0
openai==1.14.3
packaging==21.0
pandas==1.3.1
pathos==0.2.8
pathy==0.6.0
Pillow==9.2.0
pox==0.3.0
ppft==1.6.6.4
preshed==3.0.5
protobuf==3.17.3
protobuf3-to-dict==0.1.5
pyarrow==5.0.0
pydantic==2.6.4
pydantic-core==2.16.3
pynndescent==0.5.8
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.3
requests==2.26.0
s3transfer==0.5.0
sacremoses==0.0.45
sagemaker==2.50.0
scikit-learn @ file:///C:/ci/scikit-learn_1622739499047/work
scipy @ file:///C:/ci/scipy_1618856124610/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.1.0
smdebug-rulesconfig==1.0.1
sniffio==1.3.1
spacy==3.1.1
spacy-legacy==3.0.8
srsly==2.4.1
thinc==8.0.8
threadpoolctl @ file:///tmp/build/80754af9/threadpoolctl_1626115094421/work
tokenizers==0.10.3
torch==1.12.1
torchvision==0.13.1
tqdm==4.62.0
transformers==4.9.1
typer==0.3.2
typing-extensions==4.10.0
umap-learn==0.5.3
urllib3==1.26.6
wasabi==0.8.2
werkzeug==3.0.1
wincertstore==0.2
xxhash==2.0.2
zipp==3.5.0
